/*
.prod {
    margin-right: 10px;
    
}*/

.list-group-item {
/*    position: absolute;*/
/*    margin: 0px;*/
    float: left;
/*
    margin: 5px;
    padding: 0px;
*/
    border-width:inherit;
/*    padding: -115px;*/
    
}